@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&family=Questrial&family=Righteous&display=swap');

body {
    height:100vh;
    background: #044040;
    margin:0;
    padding:0;
    box-sizing: border-box;
    flex-direction: column;
    font-family:"Questrial", sans-serif;

}

figure {
    border-radius: 5px;
}

footer {
    color: #f2f2f2;
    background-color: #022e2e;
    text-align: center;
    margin-top: 13em;
    margin-bottom: 0px;
    font-family: "Questrial", sans-serif;
    min-height: 50px;
    border-radius: 5px;
}
    
h1 {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #f2f2f2;
    text-align: center;
}

section {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    }

.box {
    color: #f2f2f2;
    display: flex;
    align-content: center;    
}

header {
    min-height:50px;    
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #022e2e;
    border-radius: 10px;
}

ul, li {
    list-style: none;
    font-size: 1.2rem;
    
}

.topnav {
  display: flex;
  justify-content: flex-end;
  background-color: #022e2e;
  overflow: hidden;
  margin-top: 0%;
}


.topnav a {
  float: left;
  color: #e8aa33;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 5px;
}


.topnav a.active {
  background-color: #04AA6D;
  color: white;
}


