body {
    background: #044040;
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

header {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

ul, li {
    list-style: none;
    font-size: 1.2rem;
}
